{% extends 'accounts/base.html' %}
{% block content %}
    
        <div class="container">
            <div class="card mb-3">
                <div class="row g-0">
                    <center>
                    <div class="col-md-8">
                    <div class="card-body">
                        <center>
                        <h5 class="card-title">{{ newsletter.name }}</h5>
                        <br/>
                        <p class="card-text justified">{{ newsletter.description }}</p>

                        <div class="row justify-content-center">
                                        <p class="card-text"><strong>Author:</strong> {{ newsletter.author }}</p>
                                        <p class="card-text"><strong>Publisher:</strong> {{ newsletter.publisher }}</p>

                                        <p class="card-text"><strong>Date:</strong> {{ newsletter.created_at }}</p>

            </div>
            {% for article in articles %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <img class="card-img-top" src="{{ article.thumbnail.url }}" alt="{{ article.name }}" />
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder">{{ article.title }}</h5>
                                    {{ article.content|truncatewords:20 }}
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'view_article' article.id %}"> view article</a></div>
                            </div>
                
                
                    </div>
                    {% endfor %}
            <br/><br/>
                        
                        <a href="{% url 'home' %}" class="btn btn-primary">Back to Home</a>
                       
                        
                        {% if user.groups.all.0.name == 'editor' or user.groups.all.0.name == 'journalist' %}
                        <a href="{% url 'edit_newsletter' newsletter.id %}" class="btn btn-info">Edit Newsletter</a>
                        <a href="{% url 'delete_newsletter' newsletter.id %}" class="btn btn-danger">Delete Newsletter</a>
                        {% endif %}
                        
                        </div>
                    </div>
                </div>
                
        </div>
        
       
{% endblock %}