{% extends 'accounts/base.html' %}
{% block content %}
     <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Add Publisher</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Please enter the details of your publisher.</p>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <center>
                <div class="col-lg-8 col-md-10 mx-auto">
                    <form method="POST" action="{% url 'add_publisher' %}">
                        {% csrf_token %}

                        {{ form.as_p }}
                        <br>
                        <button type="submit" class="btn btn-primary">Add Publisher</button>
                        
                    </form>
                    <br>
                </div>
                </center>
            </div>
        </div>

{% endblock %}