{% extends 'accounts/base.html' %}
{% block content %}
    
        <div class="container">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                    <img src="{{ article.thumbnail.url }}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                        <center>
                        <h5 class="card-title">{{ article.name }}</h5>
                        <br/>
                        <p class="card-text justified">{{ article.content }}</p>

                        <div class="row justify-content-center">
                                        <p class="card-text"><strong>Author:</strong> {{ article.author }}</p>
                                        <p class="card-text"><strong>Publisher:</strong> {{ article.publisher.name }}</p>

                                        <p class="card-text"><strong>Date:</strong> {{ article.created_at }}</p>

            </div>
            <br/><br/>
                        
                        <a href="{% url 'home' %}" class="btn btn-primary">Back to Home</a>
                        <a href="{% url 'journalist_coverage' journalist %}" class="btn btn-info">View Journalist</a>

                       
                        
                        {% if user.groups.all.0.name == 'editor' %}
                        <a href="{% url 'approve_article' article.id %}" class="btn btn-success">Approve Article</a>
                        <a href="{% url 'edit_article' article.id %}" class="btn btn-info">Edit Article</a>
                        <a href="{% url 'delete_article' article.id %}" class="btn btn-danger">Delete Article</a>
                        {% endif %}

                        {% if user.groups.all.0.name == 'journalist' %}
                        <a href="{% url 'edit_article' article.id %}" class="btn btn-info">Edit Article</a>
                        <a href="{% url 'delete_article' article.id %}" class="btn btn-danger">Delete Article</a>
                        {% endif %}
                        
                        </div>
                    </div>
                </div>
                
        </div>
        
       
{% endblock %}