{% extends 'accounts/base.html' %}
{% block content %}
     <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Login</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Please enter your credentials to access your account.</p>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <center>
                <div class="col-lg-8 col-md-10 mx-auto">
                    <form method="POST" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                    <br>
                    <br>
                    <p> if you don't have an account, please</p> 
                    <a href="{% url 'register_reader' %}" class="btn btn-secondary">register as reader here</a>
                    <a href="{% url 'register_editor' %}" class="btn btn-secondary">register as editor here</a>
                    <a href="{% url 'register_journalist' %}" class="btn btn-secondary">register as journalist here</a>

                </div>
                </center>
            </div>
        </div>

{% endblock %}