<nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{% url 'home' %}">News</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a></li>

                        {% if user.is_authenticated %}  
                            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>

                                {% if user.groups.all.0.name == 'reader' %}
                                <li class="nav-item"><a class="nav-link" href="{% url 'view_reader' %}">Profile</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url 'subscribe' %}">Subscribe</a></li>
                                {% elif user.groups.all.0.name == 'editor' %}
                                <li class="nav-item"><a class="nav-link" href="{% url 'view_editor'  %}">Profile</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url 'join_publisher'  %}">Join Publisher</a></li>

                                {% elif user.groups.all.0.name == 'journalist' %}
                                <li class="nav-item"><a class="nav-link" href="{% url 'view_journalist'  %}">Profile</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url 'join_publisher'  %}">Join Publisher</a></li>

                                {% endif %}
                                

                            
                        </li>

                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>

                            <li class="nav-item"><a class="nav-link" href="{% url 'register_reader' %}">Register as Reader</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'register_editor' %}">Register as Editor</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'register_journalist' %}">Register as Journalist</a></li>

                            {% endif %}

                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">content</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'publisher_summary' %}">Publishers</a></li>
                                <li><a class="dropdown-item" href="{% url 'newsletter_sum' %}">Newsletters</a></li>
                                <li><a class="dropdown-item" href="{% url 'article_summary' %}">Articles</a></li>
                                <li><a class="dropdown-item" href="{% url 'journalist_summary' %}">Journalists</a></li>
                        {% if user.groups.all.0.name == 'journalist' %}

                                <li><a class="dropdown-item" href="{% url 'view_journalist'  %}">My articles</a></li>
                                {% endif %}
                                <li><hr class="dropdown-divider" /></li>
                                
                                
                            </ul>
                        </li>
                        {% if user.groups.all.0.name == 'journalist' %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Add content</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                
                                <li><a class="dropdown-item" href="{% url 'add_article' %}">add article</a></li>
                                <li><a class="dropdown-item" href="{% url 'add_newsletter' %}">add newsletter</a></li>
                                <li><hr class="dropdown-divider" /></li>
                            {% endif %}

                            {% if user.groups.all.0.name == 'editor' %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Add content</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                
                                <li><a class="dropdown-item" href="{% url 'unapproved_articles' %}">Unapproved article</a></li>
                                <li><a class="dropdown-item" href="{% url 'add_newsletter' %}">add newsletter</a></li>
                                <li><a class="dropdown-item" href="{% url 'add_publisher' %}">add publisher</a></li>

                                <li><hr class="dropdown-divider" /></li>
                            {% endif %}
                                
                            </ul>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </nav>