asgiref==3.12.1
certifi==2026.7.22
charset-normalizer==3.5.1
colorama==0.4.6
defusedxml==0.7.1
Django==5.2.17
djangorestframework==3.18.0
djangorestframework-xml==2.0.0
idna==3.19
mysqlclient==2.2.8
pillow==12.3.0
requests==2.34.2
sqlparse==0.5.5
tzdata==2026.3
urllib3==2.7.0
Sphinx==7.4.7
sphinx_rtd_theme==3.1.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
